<nav class="navbar navbar-expand-lg navbar-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag 'fanart_generator.jpg', style: 'max-width: 8rem; border-radius: 25%;' %>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
     <% if session.fetch(:user_id) == nil %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Log in
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="/user_sign_in" class="dropdown-item">
              Sign In
            </a>
            <a href="/user_sign_up" class="dropdown-item">
              Sign Up
            </a>
          </div>
        </li>
      </ul>
      <% else %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 40px; color: black;">
            For You
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: purple; font-size: large; opacity: 95%;">
            <a href="/likes" class="dropdown-item">
              My Likes
            </a>

            <a href="/fan_arts" class="dropdown-item">
              Fan Art Topics
            </a>

            <a href="/photos" class="dropdown-item">
              All Photos
            </a>
          </div>
        </li>
      </ul>
      <div class="sign-out">
        <a href="/user_sign_out">
          Sign Out
        </a>
      </div>
      <% end %>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
