<div>
  <div class="title">
    <h1>
      Welcome to Fan Art Generator
    </h1>
  </div>
</div>

<hr>

<div class="jumbotron" style="background-color: purple;">
  <div>
    <h2 class="display-1">
      Ready for you next piece?
    </h2>

  <hr class="my-4">

    <form action="/insert_fan_art" method="post">

      <div class="form-floating">
        <select class="custom-select"  name="query_topic">
          <option value="anime">Anime</option>
          <option value="video games">Video Games</option>
          <option value="comics">Comics</option>
          <option value="movies">Movies</option>
        </select>
      </div>

      <div>
        <input type="hidden" name="query_user_id" value="<%= @current_user.id %>">
      </div>

  <hr class="my-4">
      <button class="btn btn-lg" role="button" style="background-color: #b8c1ec;">
        Generate an Idea
      </button>
    </form>
  </div>
</div>

<hr>
