<div>
  <div>
    <h1>
      Your project!
    </h1>
  </div>
</div>

<hr>

<dl>
<% Message.where({ :fan_art_id => @the_fan_art.id }).order(:created_at).each do |message| %>
    <dt><%= message.role %></dt>
    <dd><%= simple_format(message.content) %></dd>
  <% end %>
</dl>
