<div>
  <div>
    <h1>
      All Photos
    </h1>
  </div>
</div>

<hr>
<div class="card-deck">
  <% @list_of_photos.each do |a_photo| %>
    <div class="card mb-4 photo-card">
      <img class="card-img-top" src="<%= a_photo.image %>" alt="Generated Image" >
      <div class="card-body">
        <h2 class="card-title"><%= a_photo.fan_art.topic.upcase%></h2>
          <p class="card-text"><%= Message.where({ fan_art_id: a_photo.fan_art.id }).first.content %></p>
      </div>
      <div class="card-footer">
        <a href="/photos/<%= a_photo.id %>" class="btn btn-outline-primary w-100">Check it out!</a>
      </div>
    </div>
  <% end %>
</div>
<hr>

  
