<div>
  <div>
    <h1>
      Your Photos
    </h1>
  </div>
</div>

<hr>
<div class="card-group">
  <div class="card">
  <% @list_of_photos.each do |a_photo| %>
  <img class="card-img-top" src="<%= a_photo.image %>" alt="Generated Image" >
  <div class="card-body">
    <h2 class="card-title"><%= a_photo.fan_art.topic.upcase%></h2>
      <p class="card-text"><%= Message.where({ fan_art_id: a_photo.fan_art.id }).first.content %></p>
      <a href="/photos/<%= a_photo.id %>" class="btn btn-primary">Check it out!</a>
  </div>
  <% end %>
</div>
<hr>

  
