<h1>Sign in</h1>

<form action="/user_verify_credentials" method="post">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput"name="query_email" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" name="query_password" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>

  <button class="btn btn-primary">
    Sign in
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>
