<h1>Sign up</h1>

<form action="/insert_user" method="post">

  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" name="query_email" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>

  <div class="form-floating mb-3"> 
    <input type="text" class="form-control" id="username_box" name="query_username" placeholder="Example name">
    <label for="username_box">Username</label>
  </div>

  <div>
    <input type="hidden" id="own_photos_count_box" name="query_own_photos_count" value="0">
  </div>

  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" name="query_password" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password" >
    <label for="password_confirmation_box">Password Confirmation</label>
  </div>

  <button class="btn btn-success">
      Sign up
    </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>
